body {
	background-color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FFFFFF;
}

#document {
	border: 1px solid white;
	width: 600px;
	margin-left: auto; 
	margin-right: auto;
}

#header {
	color : #0000FF;
	border: 5px solid blue;
	height: 200px;
	background-color: #FF0000;
	background-repeat: no-repeat;
	background-position: 20px 20px;
}

#nav {
	float: left;
	color : #00FF00;
	width: 100px;
	border: 1px solid white;
}

#body {
	color : #FF0000;	
	border: 1px solid white;
}

